/***    admin content ****/
.admin_content {
    padding-top: 12px;
    margin-top: 12px;

}
.text_content {
    border:8px solid black;
}

.active_li {
    border:3px solid blue;
}
.back_content {
    background-color: #c0c0c0;
    padding-top: 30px;
    padding-bottom: 50px;
}
.name_text {
    padding-top: 5px;
    font-size: 20px;
}

.name_parent_text {
    font-size: 20px;
}

.header_content_text {
    margin-top: 20px;
    font-size: 12px;
    color: #808080;
}

.border_content{
    /*border-right: thick solid #dddddd;*/
    padding-right: 12px;
    padding-left: 12px;
}

.prokrutka {
    height: 200px; /* высота нашего блока */
    width: 100%; /* ширина нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 2px solid #C1C1C1; /* размер и цвет границы блока */
    overflow: auto
}

.parents_up_block {
    padding-bottom: 20px;
}

.border_alert {
    border:2px solid red;
}
.my_pointer {
    cursor: pointer;
}

.pagination {
    margin-top: 10px;
}

.procedure_button {
    margin-top: 10px;
}

.streak {
    height: 20px;
    background: #55a79a;
}

.header_img {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    /*margin-bottom: 20px;*/
    /*margin-top: 20px;*/
    height: 100px;
    /*width: 50px;*/
}

.exp_header_text {
    padding-top: 30px;
    color: #888;
    font-size: 18px;
}



.myButton {
    /*background-color: #DCDCDC;*/
    border: 1px solid #D3D3D3;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    font-size: 14px;
    cursor:pointer;
}

.front_button_right {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.myButton:hover {
    background: #C0C0C0;
    border: 1px solid #00bfff;
}

.red {
    border: 2px solid #696969;
    /*background: #abcdef;*/
    background: #55a79a
}

.bottom_streak {
    height: 3px;
    background: #55a79a;
}

.front_content_block {
    margin-bottom: 20px;
}

.front_answers_little {
    margin-top: 4px;
    margin-bottom: 4px;
    background: #55a79a;
    color: white;
}
